.about-box {
    display: flex;
    justify-content: center;
    padding-bottom: 60px;
}

.about-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 60px;
    max-width: 380px;
}

.about-item p {
    border: none;
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    text-align: right;
    color: #B3B3BA;
}

.about-color {
    background: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.about-list {
    border-left: 2px solid rgba(255, 255, 255, 0.3);
}

.about-list h2 {
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    color: #FFFFFF;
    margin-left: 60px;
    margin-top: 43px;
}

.about-list p {
    font-weight: 400;
    font-size: 19px;
    line-height: 30px;
    color: #FFFFFF;
    max-width: 581px;
    margin-left: 60px;
    margin-top: 30px;
    margin-bottom: 43px;
}