*{
    box-sizing: border-box;
    margin: 0;
}

.body {
    font-family: 'Montserrat', 'Verdana', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

.container {
    max-width: 1380px;
    min-width: 375px;
    margin: 0 auto;
    padding: 0 30px;
}

.container__gradient {
    max-width: 1430px;
    min-width: 335px;
    height: 10px;
    margin: 0 auto;
    padding: 0 15px;
}

.container__gradient--second {
    max-width: 1390px;
    min-width: 295px;
    height: 10px;
    margin: 0 auto;
    padding: 0 15px;
}